{% load staticfiles %}
<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Big Data</title>
      <script type="text/javascript" src="{%static 'js/jquery-2.1.1.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'css/header.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/footer.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/bigdata.css'%}">

    <script type="text/javascript">
    $(document).ready(function() {
        /* Navbar Dropdown Animation */
        $('.dropdown').hover(function() {
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
        }, function() {
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp()
        });
        /* Modal */
        $(".downloadwp").click(function() {
            $("#myModal").modal('show');
        });

    });
    </script>
</head>

<body>
    <!-- Nav Bar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="img/Logo.png" class="logo-small">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-inverse" role="menu">
                            <li><a href="#">Mobile</a>
                            </li>
                            <li><a href="#">Big Data</a>
                            </li>
                            <li><a href="#">IoE/IoT</a>
                            </li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="management.html">Management</a>
                            </li>
                            <li><a href="#">Code of Conduct</a>
                            </li>
                            <li><a href="#">Business Process</a>
                            </li>
                            <li><a href="location.html">Locations</a>
                            </li>
                            <li><a href="#">Contact</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- Nav Bar End-->
    <!-- Left SideBar -->
    <div id="sidebar-wrapper" class="left">
        <div class="center">
            &emsp;
            <button class="btn btn-dark" onclick="#">
                <h4>&nbsp;&nbsp;Brochure&nbsp;&nbsp;&nbsp;</h4>
            </button>
            <br>
            <br>&emsp;
            <button class="btn btn-dark" onclick="#">
                <h4 class="downloadwp text-center">White Paper</h4>
            </button>
        </div>
    </div>
    <!-- Download White Paper Modal -->
    <div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Download White Paper Modal</h4>
                </div>
                <div class="modal-body">
                    <form action="submitDetails/" method="POST" class="form-horizontal" role="form" name="DownloadForm">
                        <div class="form-group">
                            <label for="downloadWpFName" class="col-xs-12 col-md-3">First Name:</label>
                            <input type="text" class="col-xs-10 col-xs-offset-1 col-md-8" name="downloadWpFName" id="inputDownloadWpFName" class="form-control" value="" required="required" pattern="^[a-ZA-Z0-9]*$" title="" placeholder="Firstname">
                        </div>
                        <div class="form-group">
                            <label for="downloadWpLName" class="col-xs-12 col-md-3">Last Name:</label>
                            <input type="text" class="col-xs-10 col-xs-offset-1 col-md-8" name="downloadWpLName" id="inputDownloadWpLName" class="form-control" value="" required="required" pattern="^[a-ZA-Z0-9]*$" title="" placeholder="Lastname">
                        </div>
                        <div class="form-group">
                            <label for="downloadWpEmail" class="col-xs-12 col-md-3">Email:</label>
                            <input type="email" class="col-xs-10 col-xs-offset-1 col-md-8" name="downloadWpEmail" id="inputDownloadWpEmail" class="form-control" value="" required="required"  title="" placeholder="user@email.com">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-dark">Download</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- End  Download White Paper Modal -->
    <!-- Right SideBar -->
    <div id="sidebar-wrapper" class="right">
        <div class="center">
            <button class="btn btn-dark">
                <h4>Customer
                    <br>Accolades</h4>
            </button>
            <br>
            <br>
            <button class="btn btn-dark">
                <h4 class="text-center">Customer
                    <br>Accolades</h4>
            </button>
        </div>
    </div>

    <!-- Content -->
    <div id="page-content-wrapper">
        <div class="container">
            <div class="col-xs-10 col-xs-offset-1">
                <br>
                <legend class="text-center">Big Data</legend>
                <p class="text">While many Big Data solutions are built for extremely knowledgeable data scientists and analysts, IBM's Watson Analytics makes advanced and predictive business analytics easily accessible to small businesses. The platform doesn't require any requisite skills of using complex data mining and analysis systems, but automates the process instead. This self-service analytics solution includes a suite of data access, data refinement and data warehousing services, giving you all the tools you need to prepare and present data yourself in a simple and actionable way to guide decision-making.</p>
                <br>
                <div class="text-center">
                    <video class="media" controls>
                        <source src="video/WhatisBigData.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <br>

        </div>
    </div>
    <!-- Footer -->
    <section id="footer" class="footer-bg">
        <div class="container">
            <div class="row">
                <br>
                <div class="col-xs-6 col-md-4">
                    <img src="img/Logo.png" class="logo-med">
                </div>
                <div class="col-xs-12 col-md-1"></div>
                <div class="col-xs-4 col-md-2">
                    <h4>Home</h4>
                    <hr>
                </div>
                <div class="col-xs-4 col-md-2">
                    <h4>Products</h4>
                    <hr>
                    <p>Mobile</p>
                    <p>Big Data</p>
                    <p>IoE/IoT</p>
                </div>
                <div class=" col-xs-4 col-md-3">
                    <h4>About Us</h4>
                    <hr>
                    <p>Management</p>
                    <p>Code of Conduct</p>
                    <p>Business Process</p>
                    <p>Locations</p>
                    <p>Contact</p>
                </div>
            </div>
            <p class="text-muted">&copy;&nbsp;2014 My Corp, Inc</p>
        </div>
    </section>

    <!-- Footer End -->
</body>

</html>
