{% load staticfiles %}
<!DOCTYPE html>
<head>
<script src="{%static 'validations.js'%}">
</script>
<script src="{%static 'jquery-1.11.1.min.js'%}"></script>
<!--  <script src="{%static 'jquery.cookie.js'%}"></script>-->
<script type="text/javascript">

</script>
<script>

var jsonhttp;
function test1(reg_form)
{
var reg=new Registration(reg_form.FirstName.value,reg_form.LastName.value,reg_form.FirstName.value+""+reg_form.LastName.value,reg_form.email.value,reg_form.phone.value,reg_form.ssn.value,reg_form.password.value,reg_form.dob.value,reg_form.dob_time.value,reg_form.credit_Card.value,reg_form.url.value);
jsonhttp=new XMLHttpRequest();
alert("created ajax");
jsonhttp.open("POST","submitDetails/",true);
//jsonhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
//jsonhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
//jsonhttp.setRequestHeader("Content-length", params.length);
//jsonhttp.setRequestHeader("Connection", "close");
jsonhttp.onreadystatechange=function()
{
	console.log("request entered!!!"+jsonhttp.status+""+jsonhttp.readyState);
	if(jsonhttp.readyState==4 && jsonhttp.status==200)
	{
		document.getElementById("responseFromServer").innerHTML="Record  Inserted...";
		console.log(jsonhttp.responseText+"Welcome");
	}
	else
		{
		if(jsonhttp.readyState==1)
			{
				document.getElementById("responseFromServer").innerHTML="Inserting.";
			}
		if(jsonhttp.readyState==2)
		{
				document.getElementById("responseFromServer").innerHTML="Inserting..";
		}
		if(jsonhttp.readyState==3)
		{
				document.getElementById("responseFromServer").innerHTML="Inserting...";
		}
		console.log("Inserting...");
		}
}
jsonhttp.send(reg.toJsonString(reg));
}


function test(reg_form)
{
	
var reg=new Registration(reg_form.FirstName.value,reg_form.LastName.value,reg_form.FirstName.value+""+reg_form.LastName.value,reg_form.email.value,reg_form.phone.value,reg_form.ssn.value,reg_form.password.value,reg_form.dob.value,reg_form.dob_time.value,reg_form.credit_Card.value,reg_form.url.value);
//alert("ph"+reg.isPhoneNumberFormatValid(reg_form.phone.value));
if((reg.isPhoneNumberFormatValid(reg_form.phone.value)) && (reg.isValidEmail(reg_form.email.value)))
{
if(confirm("Do you want to save the data to Local Storage or Session Storage? Click cancel for Session"))
{
saveToLocalStorage(reg);	
}
else
{
	saveToSessionStorage(reg.toJsonString(reg));
}	
return true;
}
else
{
	alert("Invalid Phone or Email");
	return false;
	

	//user_name=reg_form.FirstName.value +" "+reg_form.LastName.value;

	//alert(reg.first_name);
//alert(reg.toJsonString(reg));
//document.getElementById("response").innerHTML="The user created"; 
}

}
function parseDataLocalStorage(data)
{
var jsonOb=readFromLocalStorage();
readObj=JSON.parse(readFromLocalStorage());
data.FirstName.value=readObj["first_name"];	
data.LastName.value=readObj["last_name"];
data.email.value=readObj["email"];
data.phone.value=readObj["phone"];
data.ssn.value=readObj["ssn"];
data.password.value=readObj["password"];
data.dob.value=readObj["dob"];
data.dob_time.value=readObj["dob_time"];
data.credit_Card.value=readObj["cc_number"];
data.url.value=readObj["url"];

}
function parseDataSessionStorage(data)
{
var jsonOb=readFromSessionStorage();
readObj=JSON.parse(readFromLocalStorage());
data.FirstName.value=readObj["first_name"];	
data.LastName.value=readObj["last_name"];
data.email.value=readObj["email"];
data.phone.value=readObj["phone"];
data.ssn.value=readObj["ssn"];
data.password.value=readObj["password"];
data.dob.value=readObj["dob"];
data.dob_time.value=readObj["dob_time"];
data.credit_Card.value=readObj["cc_number"];
data.url.value=readObj["url"];
}
</script>
</head>

<body onLoad="netOfflineOrOnLine()">


<h2 align="center">Registration Page</h2>
<label id="response" name="response"></label><br/>
<div align="justify">
<label id="responseFromServer"></label>
<form name="reg_form">

First Name  <input type="text" name="FirstName"  id="fname" placeholder="Enter First Name"></input><br/>
Last Name  <input type="text" name="LastName" id="lname" placeholder="Enter Last Name"  ></input><br/>
Email  <input type="text" name="email" id="email" placeholder="Enter Email"  ></input><br/>
<div id="passwordHolder">
URL<input type="url" name="url" id="url" placeholder="url"></input><br/>
Password
<input type="password" name="password" id="password" placeholder="Enter Password" onChange="strengthCheck(passwordHolder,this,0)"  maxlength="24" >
<img src="{%static 'help-browser.png'%}" width="20" height="20" name="help" 
title="Password must contain 3 upper case 2 lower case and 2 special characters"/>
<br/>
<progress name="passwordMeter" id="password_strength" min="0" max="120" value="0"></progress>
</div>
<div id="confirm_passwordHolder" >Confirm Password
<input type="password" name="cpassword" placeholder="Confirm  Password"id="c_password" maxlength="24" onChange="strengthCheck(confirm_passwordHolder,this,0)"  onKeyPress="comparePass()" onBlur="comparePass()"  ><br/>
<progress name="cpasswordMeter" id="cpassword_strength" min="0" max="120" value="0">
</progress> <label id="strength"></label>
</div>
D.O.B.<input type="date" name="dob"  /><br/>
D.O.B. with Time <input type="datetime" name="dob_time" placeholder="D.O.B. with Time"/><br/>
Local D.O.B. <input type="datetime-local" name="dob_local" /><br/>
SSN<input type="text" name="ssn"  placeholder="000-00-0000"  pattern="\d\d\d-\d\d-\d\d\d\d"/><br/>
Phone <input type="phone" name="phone"  placeholder="000-000-0000"/><br/>
Credit Card Number <input type="text" name="credit_Card" placeholder="Enter 12 or 16 digited number" maxlength="20" min="16"/><br/>
<button type="button" id="submit_Id" onClick="test1(reg_form)">Submit</button>
<button type="button"  id="local_id" onClick="parseDataLocalStorage(reg_form)">Local Storage</button>
<button type="button" id="session_id"  onClick="parseDataSessionStorage(reg_form)">Session Storage</button>

<button type="reset" id="reset_id">Reset</button>
</form>
</div>
<script>
//alert(document.getElementById('submit_Id'));
(document.getElementById("reset_id")).addEventListener("click",netOfflineOrOnLine,false);
(document.getElementById("submit_Id")).addEventListener("click",netOfflineOrOnLine,false);
(document.getElementById("local_id")).addEventListener("click",netOfflineOrOnLine,false);
(document.getElementById("session_id")).addEventListener("click",netOfflineOrOnLine);

</script>
</body>
<footer>
<h6>Version 1.4</h6>
</footer>
</html>